* {
  padding: 0px;
  margin: 0px;
}

.catalog__wrapper {
  display: grid;
  grid-template-columns: minmax(260px, 1fr) 3fr;
  padding: 40px;
  gap: 100px;
}

// Фильтры
.sidebar__title {
  font-family: $font-family;
  color: $color-violent;
  font-size: 24px;
  text-align: center;
  font-weight: 700;
}

.sidebar__reset {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 0px 0px 20px;
  color: $color-secondary;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}

.sidebar__reset i {
  color: $color-gray;
  transition: color 0.3s;
}

.sidebar__reset:hover i {
  color: $color-violent;
  transition: color 0.3s;
}

.sidebar__reset-before:before {
  content: "\58";
}

.filter__item {
  display: flex;
  flex-direction: column;
  color: $color-secondary;
  font-weight: 500;
  font-size: 12px;
  padding: 40px 0px;
  border-bottom: solid 1px $color-gray;
}

.filter__item:first-of-type {
  padding: 32px 0px 40px;
}

.filter__item_subtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.filter__item_subtitle h4 {
  color: $color-secondary;
  font-size: 14px;
  font-weight: 700;
}

.filter__item_spoiler {
  position: relative;
}

.filter__item_spoiler,
.filter__item_spoiler::before {
  height: 2px;
  width: 16px;
  border-radius: 40px;
  background: $color-violent;
}

.filter__item_spoiler::before {
  content: "";
  right: 0;
  position: absolute;
  transform: rotate(90deg);
  transition: all 0.3s ease 0s;
}

.filter__item_spoiler._minus::before {
  transform: rotate(0deg);
}

.filter__item_content {
  margin: 20px 0px 0px;
  display: none;
}

.filter__item._visible .filter__item_content {
  display: flex;
}

//Фильтры стоимости
.filter__price {
  flex-direction: column;
}
.filter__price_inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.filter-input {
  text-align: center;
  padding: 8px 12px;
  background-color: $color-favourites;
  border: 1px solid $color-violent;
  border-radius: 40px;
  cursor: pointer;
}

.filter-input:not(:last-of-type) {
  margin-right: 16px;
}

.filter-price {
  flex-direction: column;
}

.filter__price_inputs {
  margin: 0px 0px 20px;
}

.filter__price_inputs input {
  max-width: 105px;
}

.filter__price_range {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 5px;
  margin: 30px 0;
  background-color: $color-gray;
}

.filter__price_range input {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  background: none;
  pointer-events: none;
  appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: $color-primary;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px $box-shadow;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  height: 25px;
  width: 25px;
  border: none;
  border-radius: 50%;
  background: $color-primary;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px $box-shadow;
  cursor: pointer;
}

input[type="radio"]:checked + label {
  background-color: $color-primary;
}

.filter-slider-track {
  height: 100%;
  position: absolute;
  background-color: $color-primary;
}

//Другие фильтры
.filter__age,
.filter__gender {
  flex-direction: column;
  gap: 5px;
}

.filter__age input,
.filter__gender input {
  margin-right: 5px;
}

.filter__age label,
.filter__gender label {
  display: inline-flex;
  cursor: pointer;
}

.filter__age label:hover,
.filter__gender label:hover {
  color: $color-violent;
}

option:hover,
option:checked {
  background-color: $color-primary;
}

.sidebar__reset {
  font-family: $font-family;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 5px 0 20px;
  color: $color-secondary;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

//Каталог с карточками
.catalog__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px 30px;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: $white;
  border-radius: 10px;
  border: 1px solid $color-primary;
  padding: 10px;
  font-size: 16px;
}
.catalog__item:hover {
  border: 1px solid $color-violent;
  box-shadow: 1px 1px 1px $color-gray;
}

.item__img {
  position: relative;
  overflow: hidden;
}

.item__img img {
  width: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease-out;
  object-position: bottom 20px right 0;
}

.item-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5px;
}

.item__category {
  color: $color-secondary;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 2px;
}

.item__price {
  color: $color-violent;
  background-color: $color-light;
  border: 1px solid $color-violent;
  border-radius: 12px;
  margin: 5px 0;
  padding: 8px;
  align-self: self-start;
  font-size: 18px;
  font-weight: 700;
}

.item__name {
  display: flex;
  color: $color-secondary;
  font-size: 18px;
  font-weight: 700;
  align-items: center;
  height: 3em;
  max-width: 210px;
  margin: 0px 0px 10px;
}

.item__description {
  display: flex;
  height: 9em;
  overflow:hidden;
  color: $color-secondary;
  font-size: 13px;
  padding: 3px;
  font-weight: 500;
  background: rgba(251, 219, 185, 0.402);
    margin: 10px 0px;
}


@media screen and (max-width: 1025px) {
  .catalog__wrapper {
    gap: 40px;
  }
}

@media screen and (max-width: 769px) {
  .catalog__wrapper {
    padding: 20px;
    grid-template-columns: minmax(260px, 1fr);
  }
}
