.favourites-heart {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
}

.popup_favourites-wrapper {
  display: none;
  position: fixed;
  z-index: 5;
  background-color: $color-favourites;
  border: 1px solid $color-favourites;
  border-radius: 10px;
  top: 150px;
  left: 10%;
  right: 10%;
  text-align: center;
  padding: 20px 10px;
  overflow: scroll;
  @media screen and (max-width: 768px) {
    //mobile
    top: 130px;
    left: 5%;
    right: 5%;
  }
}

.popup_favourites-wrapper::-webkit-scrollbar {
  width: 0;
}

.close-favourites-header {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
}

.favourites-container {
  display: flex;
  align-items: center;
  padding-top: 15px;
  gap: 15px;
  box-sizing: border-box;
  justify-content: space-around;
  flex-wrap: wrap;
}

.fav-img {
  width: 100%;
  max-height: 250px;
  border-radius: 10px;
  object-fit: cover;
  transition: opacity 0.3s ease-out;
}

.fav-actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.fav-delete,
.fav-basket {
  width: 25px;
}
