.favourites-heart {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
}

.popup_favourites-wrapper {
  display: none;
  position: fixed;
  z-index: 5;
  background-color: $color-favourites;
  border: 1px solid $color-favourites;
  border-radius: 10px;
  top: 150px;
  left: 10%;
  right: 10%;
  bottom: 5%;
  width: auto;
  gap: 10px;
  text-align: center;
  padding: 20px 10px;

  @media screen and (max-width: 768px) {
    //mobile
    top: 130px;
    left: 5%;
    right: 5%;
  }
}

.close-favourites-header {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
}

.favourites-container {
  display: flex;
  align-items: center;
  margin-top: 15px;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  height: 60vh;
  overflow-y: scroll;
}

.favourites-container::-webkit-scrollbar {
  width: 0;
}

.fav-card {
  width: 200px;
}

.fav-img {
  width: 100%;
  max-height: 250px;
  border-radius: 10px;
  object-fit: cover;
  padding: 10px 0;
}

.fav-actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.fav-delete,
.fav-basket {
  padding-top: 10px;
  width: 25px;
}
