*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: "Nunito Sans", Arial, sans-serif;
  font-size: 18px;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
}

a {
  text-decoration: none;
  color: $black;
}
a:hover {
  color: $white;
}

ul {
  list-style-type: none;
}

//Шапка
.header {
  display: flex;
  justify-content: space-evenly;
  background-color: $color-primary;
  align-items: center;
}
#logo {
  width: 80px;
}
.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.header__logo p a {
  font-family: "Marker";
}
.header__title {
  display: flex;
  justify-content: flex-end;
  font-size: 50px;
  color: $color-secondary;
  width: 50%;
  text-align: center;
  font-family: "Marker";
}
.menu__items {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin: 20px;
  align-items: center;
  width: 60%;
}
.header__menu {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}
.menu_icon {
  width: 30px;
}
nav li {
  margin: 5px;
}
//Бургер меню
nav {
  display: flex;
  justify-content: space-between;
  width: 70%;
  align-items: center;
}

.burger_menu-btn {
  background-color: $color-primary;
  width: 40px;
  height: 38px;
  border: none;
  position: relative;
  display: none;
  z-index: 103;
  padding-right: 30px;
}
.burger_menu-btn span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: black;
  left: 6px;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}
.burger_menu-btn span:nth-child(1) {
  transform: translateY(-10px);
}
.burger_menu-btn span:nth-child(3) {
  transform: translateY(10px);
}

.header.open .burger_menu-btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}
.header.open .burger_menu-btn span:nth-child(2) {
  opacity: 0;
}
.header.open .burger_menu-btn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

#catalog_link {
  display: none;
}
#favorites_link {
  display: none;
}
#basket_link {
  display: none;
}

//Поисковик
.search__form {
  position: relative;
  justify-self: center;
  width: 50%;
  height: 43px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: $font-family;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid $black;
}
.search {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
#search__icon {
  width: 25px;
}
#search {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  padding-left: 15px;
  height: 100%;
}

.search__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 20px;
}

.search__btn {
  height: 100%;
  width: 50px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border-radius: 10px;
  background-color: $color-light;
  border: none;
}

//О нас
.about {
  display: grid;
  grid-template: 1fr / minmax(1.5rem, 1fr) minmax(auto, 1120px) minmax(
      1.5rem,
      1fr
    );
  align-items: center;
  padding-top: 100px;
  min-height: 500px;
  margin-bottom: 150px;
}
.about__img_block {
  grid-column: 1/3;
  position: relative;
  width: 80%;
  min-height: 700px;
  z-index: 1;
  background-color: transparent;
}
#about__img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px 20px 20px 0px;
  filter: blur(2px);
}
.about__block {
  grid-column: 2/3;
  position: absolute;
  right: 40px;
  background: rgb(248, 241, 223);
  border-radius: 10px;
  width: 50%;
  min-height: 300px;
  z-index: 2;
  padding: 30px;
}
h2 {
  color: $color-secondary;
  text-align: center;
  font-family: $font-family;
  font-weight: bolder;
  font-size: 30px;
  padding-bottom: 10px;
}
.about__text {
  width: 100%;
  text-align: center;
  color: rgb(73, 73, 73);
  margin-top: 10px;
}
//Подвал

.social_icon {
  width: 30px;
}
.social_text {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer {
  display: flex;
  background-color: $color-primary;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 10px;
  flex-wrap: wrap;
  align-items: center;
  min-height: 200px;
  width: 100%;
  gap: 15px;
}
.copyright {
  background-color: rgb(54, 53, 53);
}
.kid {
  margin-top: 5px;
}
footer p {
  font-family: $font-family;
  font-weight: bolder;
  font-size: 25px;
  margin-bottom: 10px;
  color: $color-secondary;
}
.logo_tel {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#tel {
  color: $color-secondary;
}
#tel:hover {
  color: $white;
}

//Форма всплывющая
.user {
  background-color: $white;
  border: none;
  border-radius: 2px;
  width: 100px;
  height: 30px;
  color: $black;
  font-family: $font-family;
  font-weight: bold;
  font-size: 25px;
  margin-left: 10px;
}
.user:hover {
  background-color: $color-light;
  color: $color-secondary;
}

#user_login {
  display: none;
  animation-duration: 1.5s;
  animation-fill-mode: both;
}
#user_registr {
  display: none;
  animation-duration: 1.5s;
  animation-fill-mode: both;
}

#user_login.open {
  display: block;
}
#user_registr.open {
  display: block;
  width: 100%;
}
.popup_user {
  position: fixed;
  z-index: 103;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(246, 239, 239, 0.5);
  transition: all 0.5s ease;
  display: none;
  font-size: 10px;
}
.popup_user_registr {
  position: fixed;
  z-index: 103;
  width: 100%;
  height: 100%;
  top: 10px;
  left: 0;
  background: rgba(246, 239, 239, 0.5);
  transition: all 0.5s ease;
  display: none;
  overflow: scroll;
}

.popup_open {
  display: block;
}

.popup__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $white;
  border-radius: 10px;
  width: 80%;
}

.popup__wrapper {
  padding: 20px;
}
.input {
  width: 70%;
  background: transparent;
  margin-bottom: 5px;
  margin-top: 5px;
  height: 30px;
  border: none;
  border-bottom: 1px solid $black;
}

.loginform,
.registration {
  font-family: $font-family;
}
.loginform p,
.registration p {
  font-family: $font-family;
  font-size: 25px;
  font-weight: bolder;
}
.check_login {
  background-color: $color-secondary;
  color: $white;
  padding: 8px;
  width: 20%;
  margin-top: 5px;
  font-family: $font-family;
  border: none;
}
.check_login:hover {
  background-color: $color-primary;
}
.registr {
  background-color: rgb(193, 191, 191);
  margin-top: 10px;
  padding: 5px;
  color: $white;
  font-family: $font-family;
  border: none;
}
.registr:hover {
  background-color: $color-primary;
}
.close,
.close_reg {
  background-color: transparent;
  text-decoration: underline;
  margin-top: 5px;
  padding: 5px;
  border: none;
}
.check_registr {
  background-color: $color-secondary;
  color: $white;
  padding: 8px;
  margin-top: 5px;
  font-family: $font-family;
  border: none;
}
.check_registr:hover {
  background-color: $color-primary;
}
.error {
  color: brown;
}

#success {
  color: rgb(4, 103, 55);
}

/* Слайдер */
.container__slider {
  position: relative;
}

.ad_card {
  flex: 0 0 auto;
  width: 90%;
  height: fit-content;
  margin: 0 auto;
}
.ad_image {
  width: 100%;
  height: 700px;
  overflow: hidden;
}
#ad {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider {
  margin: 20px;
}

.pre-btn {
  position: absolute;
  top: 40%;
  right: 0px;
}

.nxt-btn {
  position: absolute;
  left: 0px;
  top: 40%;
  transform: rotate(180deg);
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.4;
  padding: 5px;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
  transform: scale(1.1);
}

.hidden {
  display: none;
  visibility: hidden;
}

//Корзина
.add-button {
  background-color: $color-light;
  border: none;
  border-radius: 2px;
  color: $black;
  font-family: $font-family;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
}
.add-button:hover {
  background-color: $color-primary;
}

//Адаптация

@media screen and (max-width: 1024px) {
  //бурегер меню
  nav {
    position: absolute;
    left: -100%;
    top: 0;
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    z-index: 101;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    justify-content: flex-start;
  }
  .header {
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .header__title {
    justify-content: flex-start;
    width: 100%;
    padding-left: 40px;
  }
  .menu__items {
    display: flex;
    padding-left: 10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }
  .menu__items li {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    gap: 20px;
    height: 20px;
    margin: 30px;
  }

  .header__menu {
    justify-content: center;
    width: 100%;
  }

  .burger_menu-btn {
    display: block;
  }
  header.open nav {
    transform: translateX(100%);
  }

  body.noscroll {
    overflow: hidden;
  }
  #catalog_link {
    display: block;
  }
  #favorites_link {
    display: block;
  }
  #basket_link {
    display: block;
  }
  .user {
    margin-left: 25px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 769px) {
  .popup__container {
    width: 100%;
  }
  nav {
    width: 100%;
    left: -100%;
  }
  .header {
    padding-bottom: 30px;
  }
  .header__title {
    width: 100%;
  }
  .header__menu {
    width: 100%;
    padding-left: 0;
  }

  .search {
    align-items: flex-start;
    margin-left: 10px;
    width: 80%;
  }
  .search__form {
    width: 70%;
  }
  .pre-btn img,
  .nxt-btn img {
    width: 50%;
  }
  .ad_image {
    height: 400px;
  }
  .about__block {
    grid-column: 1/3;
    width: 80%;
    right: 10px;
  }
}
@media screen and (max-width: 320px) {
  .search__form {
    width: 100%;
  }
  .about__block {
    right: 0;
    background-image: url("/assets/images/background.jpg");
  }
  .about__img_block {
    display: none;
  }
  .ad_image {
    height: 300px;
  }
  .pre-btn img,
  .nxt-btn img {
    width: 40%;
  }
  .pre-btn {
    width: 50px;
  }
  .nxt-btn {
    width: 50px;
  }
  .footer {
    flex-direction: column;
    align-items: stretch;
  }
  .footer ul {
    margin-left: 10px;
    margin-top: 10px;
  }
}
