$black: #000000;

$white: #ffffff;

$color-gray: #d4d4d4;

$color-primary: rgb(251, 219, 185);
$color-secondary: #202020;
$color-favourites: rgb(233, 218, 252);
$color-violent-light: rgb(245 236 255);
$color-light: $color-favourites; 
// $color-light: rgb(228, 230, 255);
$color-violent: #5e2a8c;

$color-hover: $color-secondary;

$box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.05);

$font-family: "Ceveat";