
$black: #000000;

$white: #ffffff;

$color-gray: #d4d4d4;

$color-primary: rgb(251, 219, 185);
$color-secondary: #202020;
$color-light:rgb(228, 230, 255);

$color-hover: $color-secondary;

$box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.05);

$font-family: "Ceveat";